.animated {
  position: relative;
  max-width: 1200px;
  overflow: hidden;
  line-height: 3rem;
  height: 6rem;
}

.animated__text {
  position: absolute;
  animation: 3s bounce ease-in-out infinite paused;
  white-space: nowrap;
  top: 0;
  padding: 0 0.5rem;
}

.animated:not(.animated--on-hover) .animated__text,
.animated.animated--on-hover:hover .animated__text {
  animation-play-state: running;
}

@keyframes bounce {
  0%,
  5%,
  95%,
  100% {
    left: 0%;
    transform: translate(0, 0);
  }

  45%,
  55% {
    left: 100%;
    transform: translate(-100%, 0);
  }
}

.text-box {
  animation: slide-up 2s;
}

@keyframes slide-up {
  from {
    opacity: 0.2;
    line-height: 200px;
  }

  to {
    opacity: 1;
    line-height: 25px;
  }
}
